li {
  list-style-type: none;
}
.game-gallery {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.game-card {
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #282c34;
}
.game-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}